In [1]:
import pandas as pd

In [9]:
df_1 = pd.read_csv('../result/IM_ENSEMBLE_rate_exceptions_recent_week_filter_20210801161724/result.csv')
df_1.columns = ['nc_ip', 'sample_time']

In [4]:
df_2 = pd.read_csv('../result/IM_ENSEMBLE_n_exceptions_20210726153855/result.csv')

In [12]:
df_3 = pd.read_csv('../result/IM_ENSEMBLE_rate_exceptions_recent_week_filter_20210801114030/result.csv')
df_3.columns = ['nc_ip', 'sample_time']

In [21]:
df_2[df_2['nc_ip']=='c6dda075-1cd0-48a3-9b44-ea89040ac5db']

Empty DataFrame
Columns: [nc_ip, sample_time]
Index: []

In [15]:
df_1.merge(df_3, how='inner', left_on=['nc_ip', 'sample_time'], right_on=['nc_ip', 'sample_time'])

                                     nc_ip          sample_time
0     105d2337-03d2-4ecf-820a-c56a9299b6f5  2018-02-13 02:45:00
1     105d2337-03d2-4ecf-820a-c56a9299b6f5  2018-02-13 02:50:00
2     105d2337-03d2-4ecf-820a-c56a9299b6f5  2018-02-13 02:55:00
3     105d2337-03d2-4ecf-820a-c56a9299b6f5  2018-02-13 03:05:00
4     105d2337-03d2-4ecf-820a-c56a9299b6f5  2018-02-13 03:10:00
...                                    ...                  ...
1768  63dc0eb1-6491-4879-bb7c-74f8e690d107  2019-02-16 11:10:00
1769  63dc0eb1-6491-4879-bb7c-74f8e690d107  2019-02-16 10:15:00
1770  63dc0eb1-6491-4879-bb7c-74f8e690d107  2019-02-16 09:10:00
1771  63dc0eb1-6491-4879-bb7c-74f8e690d107  2019-02-16 09:15:00
1772  63dc0eb1-6491-4879-bb7c-74f8e690d107  2019-02-16 17:00:00

[1773 rows x 2 columns]

In [17]:
df_1

                                     nc_ip          sample_time
0     105d2337-03d2-4ecf-820a-c56a9299b6f5  2018-02-13 02:45:00
1     105d2337-03d2-4ecf-820a-c56a9299b6f5  2018-02-13 02:50:00
2     105d2337-03d2-4ecf-820a-c56a9299b6f5  2018-02-13 02:55:00
3     105d2337-03d2-4ecf-820a-c56a9299b6f5  2018-02-13 03:05:00
4     105d2337-03d2-4ecf-820a-c56a9299b6f5  2018-02-13 03:10:00
...                                    ...                  ...
1768  63dc0eb1-6491-4879-bb7c-74f8e690d107  2019-02-16 11:10:00
1769  63dc0eb1-6491-4879-bb7c-74f8e690d107  2019-02-16 10:15:00
1770  63dc0eb1-6491-4879-bb7c-74f8e690d107  2019-02-16 09:10:00
1771  63dc0eb1-6491-4879-bb7c-74f8e690d107  2019-02-16 09:15:00
1772  63dc0eb1-6491-4879-bb7c-74f8e690d107  2019-02-16 17:00:00

[1773 rows x 2 columns]